body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: teal;
}
.horizontal-scroll-wrapper {
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100vh);
  transform-origin: right top;
  padding: 10vh;
  box-sizing: border-box;
}
.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/back.jpg);
  background-size: 100% 100%;
  filter: blur(10vh);
}
section.article {
  width: calc(80vh * 2);
  height: 80vh;
  transform-origin: left top;
  background: black;
  transform: rotate(90deg) translateY(-80vh);
  box-sizing: border-box;
  box-shadow: 0 0 3px black;
  margin-bottom: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.picture, .script {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}
.script {
  background: white;
}
.picture iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
canvas {
  margin:auto;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 2vh;
    color: white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    cursor: pointer;
}
